.main-menu {
    display: flex;
    gap: 5%;
    align-items: center;
    background-color: #abe2f3;
}

.about-me {
    display: flex;
    flex-direction: column;
    background: url(images/linc.JPG) no-repeat;
    width: 100%;
    height: 500px;
}
.about-me-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}


.portfolio-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}